!<!DOCTYPE html>
<html>
    <head>
        <title>Repeat Counter</title>
    </head>
    <body>
        <h1>Enter your word here to see how many times it shows up in yout string.</h1>
    </body>
</html>
